<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<header th:fragment="header">
			<nav class="navbar navbar-expand-lg" id="fondo-color-nav">
	        	<div class="container-fluid">
	          		<img th:src="@{/images/patitasfelices.png}" class="rounded float-start navbar-brand" id="imagen-logo-patita" alt="logo-patitas">
	          		<h3 class="navbar-brand" id="letra-titulo">Patitas Felices</h3>
	          		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	            		<span class="navbar-toggler-icon"></span>
	         		</button>
	          		<div class="collapse navbar-collapse" id="navbarNav">
	            		<ul class="navbar-nav ms-auto">
	              			<li class="nav-item">
	                			<a class="nav-link active" aria-current="page" id="letra-nav" th:href="@{/index}">Inicio</a>
	              			</li>
	             			<li class="nav-item">
	                			<a class="nav-link" th:href="@{/productos/listado}" id="letra-nav" >Productos</a>
	             		 	</li>
	              			<li class="nav-item">
	                			<a class="nav-link" th:href="@{/consejos/listado}" id="letra-nav">Consejos de Salud</a>
	              			</li>
	              			<li class="nav-item">
	                			<a class="nav-link" th:href="@{/paseo/listado}" id="letra-nav">Servicios de Paseos</a>
	              			</li>
	              			<li class="nav-item">
	                			<a class="nav-link" th:href="@{/sucursal/listado}" id="letra-nav">Sucursales</a>
	              			</li>
	              			<li class="nav-item">
	                			<a class="nav-link"  th:href="@{/contactos}" id="letra-nav">Contáctanos</a>
	              			</li>
	              			<li class="nav-item">
								<a class="nav-link" th:href="@{/gestion}" id="letra-nav">Gestión de Datos</a>	    
							</li> 	
	            	   </ul> 
	          		</div>
	        	</div>
      		</nav>
		</header>
	</body>
</html>