<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<link rel="icon" th:href="@{/images/perroico.png}">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Consejos de Salud</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
	 <header th:replace="~{layouts/header :: header}"> </header>
	 <div class="enlace_consejo">		
				<a th:href="@{/consejos/nuevo}">AGREGAR NUEVO CONSEJO</a>
			</div>	
		<div class="cuerpo">
						  
		  	<section class="izquierda">
				<article th:each="conse: ${consejosLista}">
			  		<h2>Categoría: <span th:text="${conse.categoria}"></span></h2>			 
					<h3>Edad de la Mascota: <span th:text="${conse.edadMascota}"></span></h3>
					<h3>Sexo de la Mascota: <span th:text="${conse.sexoMascota}"></span></h3>
					<h3>Consejo número: <span th:text="${conse.idConsejo}"></span></h3>
					<p th:text="${conse.descripcion}"></p><br>
						<a th:href="@{/consejos/modificar/}+${conse.idConsejo}">Editar</a>
						<a th:href="@{/consejos/eliminar/}+${conse.idConsejo}">Eliminar</a>		  		
			  		
			  	</article>
	
			</section> 
			<aside class="derecha">
				<h2>¿Por qué es importante llevar al veterinario a nuestro perro?</h2>
				<p>Los veterinarios son profesionales de la salud animal que se encargan de diagnosticar y tratar enfermedades en animales. Estos profesionales tienen un amplio conocimiento en fisiología, anatomía, farmacología, nutrición y salud pública de los animales.
				   Además, los veterinarios pueden trabajar en diferentes áreas como clínica, cirugía, patología, epidemiología, investigación, salud pública y docencia.
				   Para convertirse en veterinario, se requiere obtener un título universitario en veterinaria y cumplir con los requisitos de licencia y certificación correspondientes en cada país.
				   Es importante tener en cuenta que la atención veterinaria no solo se limita a la enfermedad, también incluye servicios preventivos como vacunación, desparasitación, control de plagas y esterilización.
				   Si tienes una mascota, es recomendable buscar un veterinario de confianza y llevar a tu mascota para chequeos médicos regulares. De esta manera, podrás detectar cualquier problema de salud en su etapa inicial y tomar medidas preventivas.
				   Recuerda que los veterinarios son profesionales altamente capacitados y que están comprometidos con la salud y el bienestar de los animales. Si tienes dudas acerca del cuidado de tu mascota, no dudes en preguntarle a tu veterinario de confianza.
				</p>
			</aside>
		</div>
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</body>
</html>