<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="icon" href="../static/images/perroico.png">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Patitas Felices</title>
	</head>
	<body>
		<header>
			<h1>PATITAS FELICES</h1>
			
			<img src="../static/images/patitasfelices.png" width="400" height="400" alt="Logo Patitas Felices" title="Mis amigos son los perros">
			
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejossalud.html">Consejos de Salud</a></li>
					<li><a href="paseos.html">Servicios de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contactos.html">Contáctanos</a></li>
				</ul>
			</nav>
		</header>
			<section>
		  		<h2>Consejos de Salud</h2>
		  
		  		<article>
		  		    <h3>Mantén a tu perro bien hidratado</h3>
			    	<p>Asegúrate de llevar agua y un tazón portátil para tu perro durante los paseos. 
			    	Si hace calor, es especialmente importante que tu perro tenga acceso constante a agua fresca para evitar el riesgo de deshidratación.
                    </p>
		  		</article>
		  
		  		<article>
		  		    <h3>Realiza chequeos regulares con el veterinario</h3>
		    		<p>Lleva a tu perro al veterinario para chequeos regulares y asegúrate de mantener al día las vacunas y desparasitaciones. 
		    		Si tu perro presenta algún síntoma extraño, como vómitos, diarrea o falta de apetito, llévalo al veterinario de inmediato.</p>
		  		</article>
		  
		  		<article>
		    		<h3>Cuida su higiene</h3>
		    		<p>Es importante mantener a tu perro limpio y cuidado para prevenir problemas de salud. Cepilla regularmente su pelo para evitar enredos y para mantener su pelaje saludable.
		    		 También es importante bañarlo regularmente para evitar problemas de piel.</p>
		  		</article>
		  
		  		<article>
		    		<h3>Mantén a tu perro activo</h3>
		    		<p>Asegúrate de que tu perro tenga suficiente ejercicio y actividad física diaria para mantenerlo saludable y feliz. 
		    		Los paseos son una excelente forma de ejercicio, pero también puedes considerar juegos interactivos y actividades al aire libre.</p>
		  		</article>
		  
		  		<article>
		    		<h3>Alimentación adecuada</h3>
		    		<p>Proporcionar una alimentación adecuada es importante para mantener la salud de tu perro. Asegúrate de elegir alimentos de calidad que contengan los nutrientes necesarios para tu perro.
		    		 También es importante no sobrealimentar a tu perro y asegurarte de que tenga una dieta equilibrada.</p>
		  		</article>
		  		<article>
		  		    <h3>Socialización</h3>
		  		    <p>La socialización es importante para el bienestar emocional de tu perro. 
		  		     Asegúrate de que tenga oportunidades para interactuar con otros perros y personas de forma segura y controlada.</p>
		  		</article>
		  		
			</section>
			<aside>
      			<h3>Servicios de paseo de perros</h3>
      				<ul>
				    	<li>Paseos individuales o en grupo.</li>
				        <li>Paseos de 30, 60 o 90 minutos.</li>
				        <li>Paseos para perros con necesidades especiales.</li>
      				</ul>
      		</aside>
		<footer>
			<p>Copyright 2023 - Patitas Felices - Diseñado por Grupo 2 – Jujuy – República Argentina</p>
		</footer>
	</body>
</html>