<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<link rel="icon" href="../static/images/perroico.png">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Consejos de Salud</title>
		<link rel="stylesheet" type="text/css" href="../static/css/estilo.css">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<header id="encabezado">
			<h1 id="titulo-index">Patitas Felices</h1>
			
			<img id="imagen" src="../static/images/patitasfelices.png" alt="Logo Patitas Felices" title="Mis amigos son los perros">
			
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejossalud.html">Consejos de Salud</a></li>
					<li><a href="paseos.html">Servicios de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contactos.html">Contáctanos</a></li>
				</ul>
			</nav>
		</header>
		<div class="cuerpo">
			<section class="izquierda">
			<h2>Consejos de Salud</h2>
		  	<article>
		  		<h3>Mantén al día las vacunas de tu perro</h3>
		  		<p>Es importante asegurarse de que tu perro esté al día en sus vacunas para prevenir enfermedades y mantener su salud en óptimas condiciones.</p>
		  	</article>
		  	<article>
		  		<h3>Controla la alimentación de tu perro</h3>
		  		<p>Proporciona a tu perro una dieta equilibrada y adecuada a sus necesidades nutricionales para mantener su peso ideal y prevenir enfermedades.</p>
		  	</article>
		  	<article>
		  		<h3>Mantén a tu perro bien hidratado</h3>
			    <p>Asegúrate de llevar agua y un tazón portátil para tu perro durante los paseos. 
			       Si hace calor, es especialmente importante que tu perro tenga acceso constante a agua fresca para evitar el riesgo de deshidratación.
                </p>
		  	</article>
		  	<article>
		  		<h3>Realiza chequeos médicos regulares</h3>
		  		<p>Lleva a tu perro al veterinario para chequeos médicos regulares, de esta manera podrás detectar problemas de salud temprano y tratarlos antes de que se conviertan en una situación más grave</p>
		  	</article>
		  	<article>
		  		<h3>Ejercita a tu perro</h3>
		  		<p>Los perros necesitan ejercicio regular para mantenerse saludables y felices. Caminar, correr o jugar con tu perro también puede fortalecer el vínculo entre ambos.</p>
		  	</article>
		  	<article>
		  		<h3>Cuida la higiene de tu perro</h3>
		  		<p>Mantén a tu perro limpio y libre de pulgas y garrapatas. Lávalo regularmente con champú y revisa su pelaje y piel para detectar cualquier problema.</p>
		  	</article>
		  
		  		<article>
		  		    <h3>Realiza chequeos regulares con el veterinario</h3>
		    		<p>Lleva a tu perro al veterinario para chequeos regulares y asegúrate de mantener al día las vacunas y desparasitaciones. 
		    		Si tu perro presenta algún síntoma extraño, como vómitos, diarrea o falta de apetito, llévalo al veterinario de inmediato.</p>
		  		</article>
		  
		  		<article>
		    		<h3>Cuida su higiene</h3>
		    		<p>Es importante mantener a tu perro limpio y cuidado para prevenir problemas de salud. Cepilla regularmente su pelo para evitar enredos y para mantener su pelaje saludable.
		    		 También es importante bañarlo regularmente para evitar problemas de piel.</p>
		  		</article>
		  		<article>
		  			<h3>Proporciona un ambiente seguro</h3>
		  			<p>Mantén tu casa segura para tu perro, evita objetos peligrosos al alcance de su boca y asegúrate de que no tenga acceso a productos tóxicos.</p>
		  		</article>
			</section>
			<aside class="derecha">
				<h2>¿Por qué es importante llevar al veterinario a nuestro perro?</h2>
				<p>Los veterinarios son profesionales de la salud animal que se encargan de diagnosticar y tratar enfermedades en animales. Estos profesionales tienen un amplio conocimiento en fisiología, anatomía, farmacología, nutrición y salud pública de los animales.
				   Además, los veterinarios pueden trabajar en diferentes áreas como clínica, cirugía, patología, epidemiología, investigación, salud pública y docencia.
				   Para convertirse en veterinario, se requiere obtener un título universitario en veterinaria y cumplir con los requisitos de licencia y certificación correspondientes en cada país.
				   Es importante tener en cuenta que la atención veterinaria no solo se limita a la enfermedad, también incluye servicios preventivos como vacunación, desparasitación, control de plagas y esterilización.
				   Si tienes una mascota, es recomendable buscar un veterinario de confianza y llevar a tu mascota para chequeos médicos regulares. De esta manera, podrás detectar cualquier problema de salud en su etapa inicial y tomar medidas preventivas.
				   Recuerda que los veterinarios son profesionales altamente capacitados y que están comprometidos con la salud y el bienestar de los animales. Si tienes dudas acerca del cuidado de tu mascota, no dudes en preguntarle a tu veterinario de confianza.
				</p>
			</aside>
		</div>
		<footer>
			<p>Copyright 2023 - Patitas Felices - Diseñado por Grupo 2 – Jujuy – República Argentina</p>
		</footer>
	</body>
</html>