<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="icon" th:href="@{/images/perroico.png}">
     	<link rel="stylesheet" th:href='@{/css/estilo.css}' type='text/css'>
		<title>Contáctenos</title>
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Rowdies:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
	<div>
		
		<header th:replace="~{layouts/header :: header}"> </header>
		
		
		<section id='contenedorContactos'>
		<div id='tituloContacto'><h1> Contáctenos</h1></div> <br>		
			<div >
				
					
				<div id='direccion'>
					<p >3915 Av. General Belgrano, 388-4221750.<br>
					Lunes a Viernes: 9:00 a.m a 8:00 p.m.<br>
					Sabado y Domingo: 9:00 a.m a 12:30 p.m.<br>
					<a href='https://accounts.google.com'>contactos@mail.com.ar</a></p>
				</div>
				<div id='redes'>
					<ul>
						<li><a href='https://facebook.com'>Facebook</a>
						<li><a href='https://instagram.com'>Instagram</a>
						<li><a href='https://twitter.com'>Twitter</a>
					</ul>
				</div>
			
			</div> 
			<div >
					<form class="formularioGeneral">				
						
						<label for="nombre">Nombre:</label>
						<input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre"> <br>
									
						<label for="email">Email:</label>
						<input type="email" id="email" name="email" placeholder="Ingrese un email válido"><br>
						
						<label for="apellido">Ciudad:</label>
						<input type="text" id="apellido" name="apellido" placeholder="Ingrese su ciudad"><br>
				
						<label for="mensaje">Mensaje:</label>
						<textarea id="mensaje" name="mensaje" rows="5" cols="50"></textarea>						
				
						<input type="submit" value="Enviar">
						
					</form>			
				</div>
						
		</section> 
		
		<footer th:replace="~{layouts/footer :: footer}"> </footer>
	</div>
	</body>
</html> 