<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="icon" href="../static/images/perroico.png">
		<meta charset="UTF-8">
		<title>Patitas Felices</title>
	</head>
	<body>
		<header>
			<h1>PATITAS FELICES</h1>
			
			<img src="../static/images/patitasfelices.png" width="400" height="400" alt="Logo Patitas Felices" title="Mis amigos son los perros">
			
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejossalud.html">Consejos de Salud</a></li>
					<li><a href="paseos.html">Servicios de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contactos.html">Contáctanos</a></li>
				</ul>
			</nav>
			<section>
		  		<h2>Objetivos de Patitas Felices</h2>
		  
		  		<article>
			    	<h3>Proporcionar un servicio de alta calidad y seguro para las mascotas de nuestros clientes</h3>
			    	<p>En Patitas Felices, nuestro principal objetivo es garantizar que tus mascotas reciban un servicio de alta calidad y seguro durante los paseos. Nuestros paseadores de perros son cuidadosos, responsables y utilizan el equipo adecuado para asegurarse de que tus perros estén seguros y felices.</p>
		  		</article>
		  
		  		<article>
		    		<h3>Ofrecer horarios de paseo flexibles y opciones de reserva en línea para hacer que el proceso sea más fácil para nuestros clientes</h3>
		    		<p>Entendemos que tus horarios pueden ser ocupados, por lo que ofrecemos horarios de paseo flexibles para adaptarnos a tus necesidades. También podes reservar tus paseos en línea para ahorrar tiempo y hacer el proceso aún más fácil.</p>
		  		</article>
		  
		  		<article>
		    		<h3>Ser expertos en el cuidado de los perros y mantener nuestros conocimientos actualizados en el cuidado de mascotas</h3>
		    		<p>Nuestros paseadores de perros son expertos en el cuidado de los perros y se mantienen actualizados en las últimas técnicas y cuidados para mascotas. Podes confiar en que tus perros estarán en buenas manos con nosotros.</p>
		  		</article>
		  
		  		<article>
		    		<h3>Fomentar una relación de confianza con nuestros clientes y siempre comunicar de manera clara y efectiva</h3>
		    		<p>En Patitas Felices, nos esforzamos por construir una relación de confianza con nuestros clientes. Comunicamos de manera clara y efectiva para que siempre sepas lo que está sucediendo y cómo estamos cuidando a tus perros.</p>
		  		</article>
		  
		  		<article>
		    		<h3>Crecer y expandirnos continuamente para ofrecer un servicio aún más completo y de alta calidad a nuestros clientes</h3>
		    		<p>En Patitas Felices, siempre estamos buscando maneras de mejorar y expandir nuestros servicios para ofrecer un servicio aún más completo y de alta calidad a nuestros clientes. Nos comprometemos a estar a la vanguardia de las últimas tendencias y técnicas de paseo de perros.</p>
		  		</article>
			</section>
			<aside>
      			<h3>Servicios de paseo de perros</h3>
      				<ul>
				    	<li>Paseos individuales o en grupo.</li>
				        <li>Paseos de 30, 60 o 90 minutos.</li>
				        <li>Paseos para perros con necesidades especiales.</li>
      				</ul>
      		</aside>
		</header>
		<footer>
			<p>Copyright 2023 - Patitas Felices - Diseñado por Grupo 2 – Jujuy – República Argentina</p>
		</footer>
	</body>
</html>