<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  	<head>
			<link rel="icon" th:href="@{/images/perroico.png}">
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>Inicio</title>
			<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	 		<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
			<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
	
		</head>
	<body>
	<header th:replace="~{layouts/header :: header}"> </header>
	
	   <h1 class="titulo-paseo" th:text="${edicion}?'Modificar Producto':'Agregar Nuevo Producto'"></h1><br><br>
	   
	<div id="formularioPro">
	<!--th:action="@{/nombre Controlador donde envia info el enviar}" th:object="${el objeto creado}" method="post"   -->
					<form class="formuprod" th:action="${edicion}?@{/productos/modificar}:@{/productos/guardar}" th:object="${produ}" method="post">				
						
						<label for="nombre" >Nombre:</label>
						<input type="text" id="nombre" name="nombre_produ" th:field="*{nombre}"  > <br><br>
							
						<label for="codigo">Código:</label>
						<input type="number" id="codigo" name="codigo_produ" th:field="*{codigo}" required min="1"><br><br>
						
						<label for="precio">Precio:</label>
						<input type="number" id="precio" name="precio_produ" th:field="*{precio}" step="0.01" required min="1" ><br><br>
				
						<label for="categoria" >Categoría:</label>
						<select class="selectGeneral" id="categoria" name="categoria_produ"  th:field="*{categoria}" >
						
							<option value="advancealim.jpg" th:selected="${produ.categoria == 'advancealim.jpg'}">Alimento</option>
								<option value="juguete.jpg" th:selected="${produ.categoria == 'juguete pollo.jpg'}">Juguetes</option>
								<option value="campera.jpg" th:selected = "${produ.categoria == 'campera.jpg'}">Ropa</option>
								<option value="disfraz.webp" th:selected = "${produ.categoria == 'diszfraz.webp'}">Otros</option>
						</select><br>	
						<label for="descuento">Descuento:</label>
						<input type="number" id="descuento" name="descuento_produ" th:field="*{descuento}" min="0" max="50" required><br><br>				
				
						<p><input type="submit" class="button" th:value="${edicion}?'Modificar':'Guardar'"></p>
						
					</form>	
				
	</div>
	
	<div class="container-fluid pie-pagina">
    		<footer th:replace="~{layouts/footer :: footer}"></footer>
    	</div>
    	<script th:fragment ="script_bootstrap" type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>

