<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  	<head>
			
	    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    	    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
			<title>Inicio</title>
			<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
			<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
			<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
	 		<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
			
		</head>
	<body>
		<header th:replace="~{layouts/header :: header}"> </header>
	
				<div class="container-fluid enlace_consejo ">
					<div class="row justify-content-center titulo-paseo">		
		 			 	  			
			 	 			<h1 >AGREGAR NUEVO PRODUCTO</h1> 			 					
					</div>	
				</div>
				
	<div class="container-fluid">
	<!--th:action="@{/nombre Controlador donde envia info el enviar}" th:object="${el objeto creado}" method="post"   -->
					 
		 		
				<div class="row justify-content-center ">
					<div class="col-9">
				<h2 th:text="${edicion}?'Modificar Producto':'Agregar Nuevo Producto'"></h2><br><br>
					</div>
				</div>
				
				<div class="row justify-content-center">
						<form class= "row justify-content-center" th:action="${edicion}?@{/productos/modificar}:@{/productos/guardar}" th:object="${produ}" method="post">				
						
						<div class="row justify-content-center ">
								<div class="col-5">
									<label for="nombre" class="form-label" >Nombre:</label>
									<input type="text" id="nombre"  class="form-control" name="nombre_produ" th:field="*{nombre}"  > 
									<div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
								</div>
						
						</div>
						
						<div class="row justify-content-center ">	
								<div class="col-5">
									<label for="codigo" class="form-label">Código:</label>
									<input type="number" id="codigo" class="form-control"name="codigo_produ" th:field="*{codigo}" >
									<div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
								</div>
						</div>
						
						<div class="row justify-content-center ">	
								<div class="col-5">
									<label for="precio" class="form-label">Precio:</label>
									<input type="number" id="precio" class="form-control"name="precio_produ" 
										placeholder="100-100000"th:field="*{precio}"  >
									<div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>
								</div>
						</div>
				
				         <div class="row justify-content-center">
				        		 <div class="col-5">	
									<label for="categoria"class="form-label" >Categoría:</label><br><br> 
									<select  id="categoria" class="form-select"name="categoria_produ"  
											th:field="*{categoria}" >
						
									<option value="advancealim.jpg" th:selected="${produ.categoria == 'advancealim.jpg'}">Alimento</option>
									<option value="juguete.jpg" th:selected="${produ.categoria == 'juguete pollo.jpg'}">Juguetes</option>
									<option value="campera.jpg" th:selected = "${produ.categoria == 'campera.jpg'}">Ropa</option>
									<option value="disfraz.webp" th:selected = "${produ.categoria == 'diszfraz.webp'}">Otros</option>
								</select><br>	
								</div>
						</div>
						
						<div class="row justify-content-center">	
								<div class="col-5">
									<label for="descuento"class="form-label">Descuento:</label> 
									<input type="number" id="descuento" class="form-control" name="descuento_produ" 
										 th:field="*{descuento}"  required>	
								<div class="text-danger" th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"></div>			
								</div>
								
							
						</div>
					
							
						
					</form>	
					<div class="row justify-content-center">	
								<div class="col-5">
					<input type="submit" class="button btn btn-outline-secondary" th:value="${edicion}?'Modificar':'Guardar'">
							<a class="btn btn-outline-danger" th:href="@{/productos/listado}" role="button">Cancelar</a>
				</div>
				</div>
				</div>	
	</div>
	
	
		<div class="container-fluid pie-pagina">
	    		 <footer th:replace="~{layouts/footer :: footer}"></footer>
	    </div>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>
