<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<link rel="icon" th:href="@{/images/perroico.png}">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Servicios</title>
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"> </header>
		
		<div class="container-fluid paseo-page">
			<h1 class="title-paseo" th:text="${edicion}?'MODIFICAR SERVICIO':'REGISTRAR SERVICIO'"></h1>
		</div>
		
		<div class="container-fluid my-5">
			<div class="row justify-content-center">
				<div class="col-9">
					<form class="row g-3 needs-validation" novalidate th:action="${edicion}?@{/paseo/modificar}:@{/paseo/guardar}" th:object="${paseo}" method="post">
						<div class="row mb-3" th:if="${edicion}" >
    						<label for="serv_id" class="col-sm-2 col-form-label">ID (Base de Dato): </label>
    							<div class="col-sm-10">
       								<input type="text" class="form-control" id="serv_id" name="serv_id" th:value="${paseo.id}" readonly>
       								<input type="hidden" th:field="*{id}"> 
   								</div>      									
						</div>
						<div class="row mb-3">
							<label for="nombreServicio" class="col-sm-2 col-form-label">Nombre de Servicio:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="Nombre de Servicio" name="paseo_nombreService" th:field="*{nombreService}">
								<div class="text-danger" th:if="${#fields.hasErrors('nombreService')}" th:errors="*{nombreService}"></div>
							</div>
						</div>
						<div class="row mb-3">
							<label for="horario" class="col-sm-2 col-form-label">Día de la Semana: </label>
							<div class="col-sm-10">
								<select class="form-select" id="horario" name="paseo_horario"  th:field="*{diaSemana}" >						
									<option value="" selected>Seleccione una día</option>
									<option value="Lunes" th:selected="${paseo.diaSemana == 'Lunes'}">Lunes</option>
									<option value="Martes" th:selected="${paseo.diaSemana == 'Martes'}">Martes</option>
									<option value="Miércoles" th:selected = "${paseo.diaSemana == 'Miércoles'}">Miércoles</option>
									<option value="Jueves" th:selected = "${paseo.diaSemana == 'Jueves'}">Jueves</option>
									<option value="Viernes" th:selected = "${paseo.diaSemana == 'Viernes'}">Viernes</option>
									<option value="Sábado" th:selected = "${paseo.diaSemana == 'Sábado'}">Sábado</option>
									<option value="Domingo" th:selected = "${paseo.diaSemana == 'Domingo'}">Domingo</option>
								</select>					  			 
							  	<div class ="text-danger" th:if="${#fields.hasErrors('diaSemana')}" th:errors="*{diaSemana}"></div>
							 </div>					  
						</div>
						<div class="row mb-3">
							<label for="horario" class="col-sm-2 col-form-label">Horario:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" placeholder="Horario de Servicio" name="paseo_horario" th:field="*{horario}">
								<div class="text-danger" th:if="${#fields.hasErrors('horario')}" th:errors="*{horario}"></div>
							</div>
						</div>
						<input type="submit" class="btn btn-secondary col-sm-2 mr-2" th:value="${edicion}?'Modificar':'Guardar'">
						<a class="btn btn-outline-danger col-sm-2 mx-2" th:href="@{/paseo/listado}" role="button">Cancelar</a>
					</form>
				</div>
			</div>
		</div>
		
		<div class="container-fluid pie-pagina">
    		<footer th:replace="~{layouts/footer :: footer}"></footer>
    	</div>
    	
    	<script th:fragment ="script_bootstrap" type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    	
	</body>
</html>