<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<link rel="icon" th:href="@{/images/iconoperro.png}">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Registro Nueva Sucursal</title>
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap" rel="stylesheet">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"> </header>
		<div class="container-fluid paseo-page">
			<h1 class="title-paseo" th:text="${edicion}?'MODIFICAR SUCURSAL':'REGISTRAR SUCURSAL'"></h1>
		</div>
		<div class="container-fluid my-3 pb-3 pt-3">
		
			<div class="row justify-content-center">
				<div class="col-6">
					<form class="row g-3 needs-validation" novalidate th:action="${edicion}?@{/sucursal/modificar}:@{/sucursal/guardar}" th:object="${sucursal}" method="post">
						
							<div class="row mb-3" th:if="${edicion}" >
    								<label for="id_sucu" class="col-sm-2 col-form-label">ID: </label>
    								<div class="col-sm-10">
       									 <input type="text" class="form-control" id="id_sucu" name="id_sucu" th:value="${sucursal.id}" readonly>
       									 <input type="hidden" th:field="*{id}"> 
   									</div>      									
							 </div>						 	  
						 	  
						 	  <div class="row mb-3">						 	  		
							  		<label for="nombre_sucu" class="col-sm-2 col-form-label">NOMBRE: </label>
							  		<div class="col-sm-10">
							  			 <input type="text" class="form-control" id="nombre_sucu" placeholder="Nombre Sucursal" name="nombre_sucu" th:field="*{nombre}">
							  			 <div class ="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
							  			  <!-- muestra mensaje de error si existe erorr -->
							  		</div>					  
							  </div>
							  <div class="row mb-3">
							  		<label for="direccion_sucu" class="col-sm-2 col-form-label">DIRECCION: </label>
							  		<div class="col-sm-10">
							  			<input type="text" class="form-control" id="direccion_sucu" placeholder="Dirección" name="sucursal_direccion" th:field="*{direccion}">
										<div class="text-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></div>
							  		</div>					  
							  </div>
							  <div class="row mb-3">
							  		<label for="provincia_sucu" class="col-sm-2 col-form-label">PROVINCIA: </label>
							  		<div class="col-sm-10">
								  			<select class="form-select" id="provincia_sucu" name="sucursal_provincia"  th:field="*{provincia.id}" >						
												<option th:each="p: ${provincias}" th:value="${p.id}" th:text="${p.nombre}"></option>										
												<!-- se llama a la clase Provincia para completar el select -->
											</select>						  			 
								  			<div class ="text-danger" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></div>
								  		</div>					  
								 </div>
								 <div class="row mb-3">
								  		<label for="fecha_sucu" class="col-sm-2 col-form-label">FUNDACIÓN: </label>							  		
								  		<div class="col-sm-10">
								  			<input type="date" class="form-control" id="fecha_sucu"  name="sucursal_fundacion" th:field="*{fechaInicio}">
											<div class="text-danger" th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></div>
								  		</div>					  
								 </div>
								 <div class="row mb-3">
								  		<label for="email_sucu" class="col-sm-2 col-form-label">EMAIL: </label>							  		
								  		<div class="col-sm-10">							  			
				  							<input type="email" class="form-control" id="email_sucu" placeholder="nombre@example.com" name="sucursal_email" th:field="*{email}">
				  							<div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>							  			
								  		</div>					  
								 </div>
								 <div class="row mb-3">							  		
								  		<label for="telefono_sucu" class="col-sm-2 col-form-label">TELEFONO: </label>							  		
								  		<div class="col-sm-10">							  			
				  							<input type="text" class="form-control" id="telefono_sucu" placeholder="N° Teléfono" name="sucursal_telefono" th:field="*{telefono}">
				  							<div class="text-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></div>							  			
								  		</div>					  
								 </div>					
			  				
			  				<div class="col-12">			  					
			  					<input type="submit" class="btn btn-secondary" th:value="${edicion}?'Modificar':'Guardar'">
								<a class="btn btn-outline-danger" th:href="@{/sucursal/listado}" role="button">Cancelar</a>
			  				</div>
			</form>
				</div>
			</div>
		</div>
		<div class="container-fluid pie-pagina">
    		<footer th:replace="~{layouts/footer :: footer}"></footer>
    	</div>
    	<script th:fragment ="script_bootstrap" type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	</body>
</html>