<!DOCTYPE html>
<html>
<head>   
<link rel="icon" href="../static/images/perroico.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        	<meta charset="UTF-8">
        		<title>Paseos</title>
        		</head>
        		<body>
        		<h1>Servicios de Paseos</h1>
        			<table border="1">
        			<tr>
        				<th>Día</th>
        				<th>Lunes</th>
        				<th>Martes</th>
        				<th>Miércoles</th>
        		        <th>Jueves</th>
        			    <th>Viernes</th>
        				<th>Sábado</th>
        			</tr>
        			<tr>
        				 <td><b>Horario</b></td>
        				 <td>9 a 12 - 16 a 18</td>
        				 <td>9 a 12 - 16 a 18</td>
        				 <td>9 a 12 - 16 a 18</td>
        				 <td>9 a 12 - 16 a 18</td>
        				 <td>9 a 12 - 16 a 18</td>
        				 <td>9 a 12 - 16 a 18</td>
        	      </tr>
        		   <tr>
        				 <td><b>Paseador</b></td>
        				 <td>Cristian Ortega</td>
        				 <td>Nicolás Velazco</td>
        				 <td>Sara Mercado</td>
        				 <td>Alicia Roberts</td>
        				 <td>Noeli Mamaní </td>
        				 <td>Nicolás Velazco</td>
        		   </tr>
        		</table>
        </body>
</html>
