 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<link rel="icon" href="../static/images/perroico.png">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="../static/css/estilo.css"/>
    	
		<title>Productos</title>
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"> </header>
		<h1 id="titulo">Productos disponibles</h1>
 
<div id="contenedor55">
  <div>
  
  <section>
  
		<h2 >Alimento para adultos Advance</h2>
		<h4 >Precio $2500 la bolsa de 15 kg</h4>
		
		<img  src=../static/images/advancealim.png 
		 alt= "Foto de la bolsa de alimento Advance"
 		width="350"
 		height="341"
		>
</section>

<section>

		<h2 >Alimento para adultos Pedigree</h2>
		<h4 >Precio $3000 la bolsa de 15 kg</h4>

		<img  src=../static/images/pedigree.jpeg
		 alt= "Foto de la bolsa de alimento Pedigree"
		 width="350"
		 height="341">
 </section>
 
    <section>	 
	
		<h2 >Pelota para perros </h2>
		<h4 > Precio $2500 </h4>

		<img  src=../static/images/pelota.jpg
		 alt= "Foto de una pelota para perros"
		 width="350"
		 height="341"
		 >
</section>
    
   </div>
 <div>
   	<section>
   		
		<h2 >Alimento para adultos Criadores</h2>
		<h4 >Precio $3500 la bolsa de 15 kg</h4>

		<img  src=../static/images/criadoresalim.jpg
		 alt= "Foto de la bolsa de alimento Criadores"
 		width="350"
 		height="341"
			>
	</section>
		
	<section>
 
 		<h2 >Juguete para perros</h2>
 		<h4 >  Precio $1500 </h4>

	 	<img  src=../static/images/juguete%20pollo.webp
 		alt= "Foto de juguete con forma de pollo"
         width="350"
 	 	 height="341"
			 >
	</section>

	<section>
 
		<h2 >Buzo para perros</h2>
	 	<h4 >Precio $3000 la bolsa de 15 kg</h4>

		<img  src=../static/images/buzito.webp
		 alt= "Foto de buzo para perros"
		 width="350"
		 height="341"
		 >
	</section>
  </div>
</div>
	 
		 <footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>




</body>
</html>
