 <!DOCTYPE html>
<html lang="es">

	<head>
			<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Productos</title>
	</head>
	
<body>

		<h1>Alimento para perros</h1>
 
		<h2>Alimento para adultos Advance</h2>
		<h4>Precio $2500 la bolsa de 15 kg</h4>
		
		 Src="../static/images/nombre imagen"

		<img  src=../static/images/advancealim.png 
		 alt= "Foto de la bolsa de alimento Advance"
 		width="350"
 		height="341"
		>

		<h2>Alimento para adultos Criadores</h2>
		<h4>Precio $3500 la bolsa de 15 kg</h4>

		<img  src=../static/images/criadoresalim.jpg
		 alt= "Foto de la bolsa de alimento Criadores"
 		width="350"
 		height="341"
		>

		<h2>Alimento para adultos Pedigree</h2>
		<h4>Precio $3000 la bolsa de 15 kg</h4>

		<img  src=../static/images/pedigree.jpeg
		 alt= "Foto de la bolsa de alimento Pedigree"
		 width="350"
		 height="341">
 
 		<h2>Juguete para perros</h2>
 		<h4>  Precio $1500 </h4>

		<img  src=../static/images/juguete%20pollo.webp
 		alt= "Foto de juguete con forma de pollo"
		 width="350"
 		height="341"
		 >
		 
		 <h2>Pelota para perros </h2>
		<h4> Precio $2500 </h4>

		<img  src=../static/images/pelota.jpg
		 alt= "Foto de una pelota para perros"
		 width="350"
		 height="341"
		 >
		 <h2>Buzo para perros</h2>
		<h4>Precio $3000 la bolsa de 15 kg</h4>

		<img  src=../static/images/buzito.webp
		 alt= "Foto de buzo para perros"
		 width="350"
		 height="341"
		 >
		 <footer>
			<p>Copyright 2023 - Patitas Felices - Diseñado por Grupo 2 – Jujuy – República Argentina</p>
		</footer>
</body>
</html>




</body>
</html>