<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<link rel="icon" href="@{/images/perroico.png">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sucursales</title>
		<link rel="stylesheet" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<header th:replace="~{layouts/header :: header}"> </header>
		<h1 class="titulosucursal">NUESTRAS SUCURSALES</h1>
		<section id="content-sucursal">
			<table id="tabla-sucursal">
				<tr>
					<th clas="th-sucursal">Nombre</th>
					<th clas="th-sucursal">Direccion</th>
					<th clas="th-sucursal">Provincia</th>
					<th clas="th-sucursal">Fundacion</th>
					<th clas="th-sucursal">E-mail</th>
					<th clas="th-sucursal">Telefono</th>
					<th clas="th-sucursal">Acciones</th>
				</tr>
				<tr th:each="sucu:${sucursales}">
					<td class="td-sucursal" th:text="${sucu.nombre}"></td>
					<td class="td-sucursal" th:text="${sucu.direccion}"></td>
					<td class="td-sucursal" th:text="${sucu.provincia}"></td>
					<td class="td-sucursal" th:text="${#temporals.format(sucu.fechaInicio, 'dd/MM/yyy')}"></td>
					<td class="td-sucursal" th:text="${sucu.email}"></td>
					<td class="td-sucursal" th:text="${sucu.telefono}"></td>
					<td class="td-sucursal">
						<a th:href="@{/sucursal/modificar/}+${sucu.nombre}">Modificar</a>
						<a th:href="@{/sucursal/eliminar/}+${sucu.nombre}">Eliminar</a>
					</td>
				</tr>
			</table>
		</section>
		<div id="enlace-sucursal">
			<a th:href="@{/sucursal/nuevo}">REGISTRAR SUCURSAL</a>
		</div>
		<h2 class="basta">TOMEMOS CONCIENCIA. ¡BASTA DEL MALTRATO ANIMAL!</h2>
		<div class="mal">
			<article>
				<h3 class="maltrato">Información sobre el maltrato animal</h3>
				<p>El maltrato animal se define como cualquier acción que cause dolor o sufrimiento innecesario a un animal. Esto puede incluir abuso físico, abandono, negligencia, privación de alimento o agua, exposición a condiciones climáticas extremas, entre otros. El maltrato animal es un problema grave en todo el mundo y puede tener graves consecuencias para la salud y bienestar de los animales afectados.</p>
			</article>
			<article>
				<h3 class="reporte">Cómo reportar el maltrato animal</h3>
				<p>En Argentina, existen varias organizaciones y dependencias gubernamentales que están encargadas de investigar y sancionar el maltrato animal. Algunas de las organizaciones que puedes contactar para reportar el maltrato animal son: la Fundación Argentina de Protección Animal (FAPA), el Centro de Atención al Vecino del Gobierno de la Ciudad de Buenos Aires y la Fiscalía Especializada en Delitos Ambientales. Estas organizaciones y dependencias tienen canales de comunicación como teléfonos y direcciones de correo electrónico que puedes utilizar para reportar el maltrato animal.</p>
			</article>
			<article>
				<h3 class="consejos">Consejos para prevenir el maltrato animal</h3>
				<p>Algunos consejos para prevenir el maltrato animal incluyen:</p>
				<ul>
					<li>Adopta una mascota de forma responsable, asegurándote de tener el tiempo, el espacio y los recursos necesarios para cuidarla adecuadamente.</li>
					<li>Educa a los niños sobre el trato adecuado a los animales, enseñándoles a respetarlos y a no causarles dolor o sufrimiento.</li>
					<li>Esteriliza o castra a tus mascotas para evitar la sobrepoblación de animales en situación de calle.</li>
					<li>Si sospechas que algún animal está siendo maltratado, denúncialo a las autoridades competentes. Recuerda que denunciar el maltrato animal es una forma de protegerlos y garantizar su bienestar.</li>
			    </ul>
			</article>
		</div>
		
		<footer th:replace="~{layouts/footer :: footer}"></footer>
			
	</body>
</html>