<!DOCTYPE html>
<html lang="es">
	<head>
		<link rel="icon" href="../static/images/perroico.png">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sucursales</title>
	</head>
	<body>
		<header>
		<h1>PATITAS FELICES</h1>		
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejossalud.html">Consejos de Salud</a></li>
					<li><a href="paseos.html">Servicios de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contactos.html">Contáctanos</a></li>
				</ul>
			</nav>
		</header>
		<section>
			<h2>NUESTRAS SUCURSALES: </h2>
			<article>
				<h3>Patitas Felices en Buenos Aires:</h3>
				<p>Dirección: Pedro de Mendoza N° 1835 </p>
				<p>Horario: De lunes a viernes de 13:45 hs a 15:45 hs. Sabados y Domingos de 14:00 hs a 16:00 hs</p>
				<p>Telefono: 1139423453</p>
			</article>
			<article>
				<h3>Patitas Felices en 	Cordoba:</h3>
				<p>Dirección: Av. Colon N° 1775, Barrio Alberdi </p>
				<p>Horario: De lunes a viernes de 09:00 hs a 13:00 hs. Sabados y Domingos de 09:00 hs a 11:00 hs</p>
				<p>Telefono: 35139423453</p>
			</article>
			<article>
				<h3>Patitas Felices en 	Salta:</h3>
				<p>Dirección:  Alvarado N° 697 </p>
				<p>Horario: De lunes a viernes de 10:45 hs a 12:45 hs. Sabados y Domingos de 11:00 hs a 13:00 hs</p>
					
				<p>Telefono: 38739423453</p>
			</article>
			<h3>TOMEMOS CONCIENCIA. ¡BASTA DEL MALTRATO ANIMAL!</h3>
		</section>
		<footer>
			<p>Copyright 2023 - Patitas Felices - Diseñado por Grupo 2 - Jujuy - Republica Argentina</p>
		</footer>
			
	</body>
</html>