<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<link rel="icon" href="../static/images/perroico.png">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sucursales</title>
		<link rel="stylesheet" href="../static/css/estilo.css">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<header id="encabezado">
			<h1 id="titulo-index">Patitas Felices</h1>
			
			<img id="imagen" src="../static/images/patitasfelices.png" alt="Logo Patitas Felices" title="Mis amigos son los perros">
			
			<nav>
				<ul>
					<li><a href="index.html">Inicio</a></li>
					<li><a href="productos.html">Productos</a></li>
					<li><a href="consejossalud.html">Consejos de Salud</a></li>
					<li><a href="paseos.html">Servicios de paseos</a></li>
					<li><a href="sucursales.html">Sucursales</a></li>
					<li><a href="contactos.html">Contáctanos</a></li>
				</ul>
			</nav>
		</header>
		<h1 class="titulosucursal">NUESTRAS SUCURSALES</h1>
		<div class="sucu">
			<section class="izq">
				<article>
				
					<h3 class="sub1">Patitas Felices en Buenos Aires:</h3>
					<p>Dirección: Pedro de Mendoza N° 1835 </p>
					<p>Horario: De lunes a viernes de 13:45 hs a 15:45 hs. Sabados y Domingos de 14:00 hs a 16:00 hs</p>
					<p>Telefono: 1139423453</p>
				</article>
				<article>
					<h3 class="sub2">Patitas Felices en Cordoba:</h3>
					<p>Dirección: Av. Colon N° 1775, Barrio Alberdi </p>
					<p>Horario: De lunes a viernes de 09:00 hs a 13:00 hs. Sabados y Domingos de 09:00 hs a 11:00 hs</p>
					<p>Telefono: 35139423453</p>
				</article>
				<article>
					<h3 class="sub3">Patitas Felices en Salta:</h3>
					<p>Dirección:  Alvarado N° 697 </p>
					<p>Horario: De lunes a viernes de 10:45 hs a 12:45 hs. Sabados y Domingos de 11:00 hs a 13:00 hs</p>
					<p>Telefono: 38739423453</p>
				</article>
				
			</section>
			<sector class="der">
				<article>
					<h3 class="sub4">Patitas Felices en Palermo:</h3>
					<p>Dirección:  Fitz Roy N° 2120, B° Palermo-Ciudad de Buenos Aires</p>
					<p>Horario: De lunes a viernes de 09:00 hs a 18:00 hs. Sabados y Domingos de 09:00 hs a 13:00 hs</p>	
					<p>Telefono: 1165239909</p>
				</article>
				<article>
					<h3 class="sub5">Patitas Felices en San Isidro:</h3>
					<p>Dirección: Avenida Centenario N° 1302, San Isidro, Buenos Aires</p>
					<p>Horario: De lunes a viernes de 8:00 hs a 19:00 hs. Sabados y Domingos de 09:00 hs a 13:00 hs</p>	
					<p>Telefono: 119878781122</p>
				</article>
				<article>
					<h3 class="sub4">Patitas Felices en Misiones:</h3>
					<p>Dirección: Calle Rondeau N° 880</p>
					<p>Horario: De lunes a viernes de 09:00 hs a 18:00 hs. Sabados y Domingos de 09:00 hs a 13:00 hs</p>	
					<p>Telefono: 37698541212</p>
					
				</article>
			</sector>
		</div>
		
		<h2 class="basta">TOMEMOS CONCIENCIA. ¡BASTA DEL MALTRATO ANIMAL!</h2>
		<div class="mal">
			<article>
				<h3 class="maltrato">Información sobre el maltrato animal</h3>
				<p>El maltrato animal se define como cualquier acción que cause dolor o sufrimiento innecesario a un animal. Esto puede incluir abuso físico, abandono, negligencia, privación de alimento o agua, exposición a condiciones climáticas extremas, entre otros. El maltrato animal es un problema grave en todo el mundo y puede tener graves consecuencias para la salud y bienestar de los animales afectados.</p>
			</article>
			<article>
				<h3 class="reporte">Cómo reportar el maltrato animal</h3>
				<p>En Argentina, existen varias organizaciones y dependencias gubernamentales que están encargadas de investigar y sancionar el maltrato animal. Algunas de las organizaciones que puedes contactar para reportar el maltrato animal son: la Fundación Argentina de Protección Animal (FAPA), el Centro de Atención al Vecino del Gobierno de la Ciudad de Buenos Aires y la Fiscalía Especializada en Delitos Ambientales. Estas organizaciones y dependencias tienen canales de comunicación como teléfonos y direcciones de correo electrónico que puedes utilizar para reportar el maltrato animal.</p>
			</article>
			<article>
				<h3 class="consejos">Consejos para prevenir el maltrato animal</h3>
				<p>Algunos consejos para prevenir el maltrato animal incluyen:</p>
				<ul>
					<li>Adopta una mascota de forma responsable, asegurándote de tener el tiempo, el espacio y los recursos necesarios para cuidarla adecuadamente.</li>
					<li>Educa a los niños sobre el trato adecuado a los animales, enseñándoles a respetarlos y a no causarles dolor o sufrimiento.</li>
					<li>Esteriliza o castra a tus mascotas para evitar la sobrepoblación de animales en situación de calle.</li>
					<li>Si sospechas que algún animal está siendo maltratado, denúncialo a las autoridades competentes. Recuerda que denunciar el maltrato animal es una forma de protegerlos y garantizar su bienestar.</li>
			    </ul>
			</article>
		</div>
		
		<footer>
			<p>Copyright 2023 - Patitas Felices - Diseñado por Grupo 2 - Jujuy - Republica Argentina</p>
		</footer>
			
	</body>
</html>