*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #F5B7B1;
}
/*Comienzo Encabezado*/

#encabezado{
	background-color: #7B241C;
	border: 1px solid #7b241c;
}

#titulo-index{
	position: absolute;
  	top: 30px;
  	left: 42%;
  	font-family: 'Lobster', cursive;
  	font-size: 60px;
  	color: white;
  	text-shadow: 2px 2px 4px #000000;
}

#imagen{
	position: relative;
	width: 130px;
	height: 130px;
	left: 35%
}

#encabezado nav ul{
	list-style: none;
  	margin: 0;
  	padding: 0;
  	background-color:#7b241c;
  	text-align: center;
}

#encabezado nav li{
	display: inline-block;
}

#encabezado nav a{
	display: inline-block;
  	padding: 10px;
  	text-decoration: none;
  	color: white;
  	font-family: 'Play', sans-serif;
  	font-size: 25px;
}

#encabezado a:hover{
	color: yellow; /*PseudoClase*/
}

/*Fin Encabezado*/

/*Comienzo Página Index*/

.cuerpo {
	display: flex;
}

.izquierda{
	flex: 1;
	padding-right: 50px;
	margin: 30px;
	font-size: 21px;
	font-family: 'Zilla Slab', serif;
}

.derecha{
	flex: 1;
	padding-left: 50px;
	margin: 30px;
	font-size: 21px;
	font-family: 'Zilla Slab', serif;
}

/*Fin Página Index*/

/*Comienzo Página Productos*/

/*Fin Página Productos*/

/*Comienzo Página Consejos de Salud*/

/*Fin Página Consejos de Salud*/

/*Comienzo Página Paseos*/
.paseo{
	box-sizing: border-box;
    background-color: #F5B7B1;
    width: 100%;
    padding: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.paseo h1{
	color: rgb(20, 20, 20);
	text-align: center;
	padding-top: 0px;
	padding:30px;
}
.paseo table {
	padding: 12px;
  border-spacing: 10px;
  border-collapse: collapse;
  width:100%;
  background-image: linear-gradient(60deg,rgb(207, 170, 253),rgb(223, 165, 254), rgb(157, 219, 255) );
  
}
.paseo table th{
	 padding:20px 15px ;
	 text-transform: uppercase;
	 border: 1px solid rgb(0, 0, 0);
	 background-color: rgb(244, 254, 129);
	 border-width: 2px;
}
.paseo table td {
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-width: 2px;
  
}

.paseo table tbody tr:hover{
	background:rgb(207, 138, 253);
}


/*Fin Página Paseos*/

/*Comienzo Página Sucursales*/

/*Fin Página Sucursales*/

/*Comienzo Página Contactos*/

/*Fin Página Contactos*/