/*COMENTARIOS IMPORTANTES*/

/*Página Producto diseñada por: Alicia Roberts (AlisonRob en git)*/

/*Página Paseos diseñada por: Noeli Mamaní (noemamani10 en git)*/

/*Página Sucursales diseñada por: Sara Mercado (Usuario Pc: alumno y SaraDMercado en git)*/

/*Página contacto y footer diseñada por: Cristian Ortega (cristianOrtega0 en git)*/

/*Página index y consejos de salud diseñada por: Nicolás Velazco (NikoVelazco en git)*/

*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #F5B7B1;
	position: relative; /*agregado nuevo*/
	padding-bottom: 35px; /*agregado nuevo*/
	min-height: 100vh; /*agregado nuevo*/
}
/*Comienzo Encabezado*/

#encabezado{
	background-color: #7B241C;
	border: 1px solid #7b241c;
}

#titulo-index{
	position: absolute;
  	top: 30px;
  	left: 42%;
  	font-family: 'Lobster', cursive;
  	font-size: 60px;
  	color: white;
  	text-shadow: 2px 2px 4px #000000;
}

#imagen{
	position: relative;
	width: 130px;
	height: 130px;
	left: 35%
}

#encabezado nav ul{
	list-style: none;
  	margin: 0;
  	padding: 0;
  	background-color:#7b241c;
  	text-align: center;
}

#encabezado nav li{
	display: inline-block;
}

#encabezado nav a{
	display: inline-block;
  	padding: 10px;
  	text-decoration: none;
  	color: white;
  	font-family: 'Play', sans-serif;
  	font-size: 25px;
}

#encabezado a:hover{
	color: yellow; /*PseudoClase*/
}

/*Fin Encabezado*/

/*****************CODIGO CSS PIE DE PAGINA  ****************************/
footer {
	position: absolute; /*agregado nuevo*/
	width: 100%; /*agregado nuevo*/
	bottom:0; /*agregado nuevo*/
	clear: both; 
	text-align: center;
	font-style: italic;	
	font-weight: bold;
	margin: 0px;
	border: 5px;
	padding: 6px;	
	background-color:#7b241c;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 18px;
	color:white;
}
/****************************************************************************/


/*Comienzo Página Index*/

.cuerpo {
	display: flex;
}

.izquierda{
	flex: 1;
	padding-right: 50px;
	margin: 30px;
	font-size: 21px;
	font-family: 'Zilla Slab', serif;
}

.derecha{
	flex: 1;
	padding-left: 50px;
	margin: 30px;
	font-size: 21px;
	font-family: 'Zilla Slab', serif;
}

/*Fin Página Index*/

/*Comienzo Página Productos*/


#contenedor55 {
	
	    background-color: #f5b7b1;
		border: black 10px solid;
		font-style: Arial, Times New Roman;
		text-align: center;
		font-size: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}

#contenedor55 > div {
  width: 50%;
}
	


h2, h4{
	color: #641e16;
	text-align: center;
	
	}
	
#titulo{
font-style: italic;
	text-transform:uppercase;
	background-color: #7b241c ;
	border: black 6px solid;
	font-size: 45px;	
	font-family: Helvetica;
	color: #ffffff;
	text-align: center;	
	}
	
	#label{
 	width:120px;
    float:left;
    text-align:left;}   
    
.formuprod{
	  
  	width: 600px;
   	padding: 35px;
  	border: 1px solid #CCC;
  	border-radius: 15px;
 	
	text-transform:uppercase;
	background-color: #7b241c ;
	border: black 7px solid;
     font-family: Helvetica;
	color: #ffffff;
	text-align: center;
	font-size-adjust: 11px;	
}

h3{
	font-family: Helvetica;
	font-size: 35px;
    display: flex;
	
}

.nuevoprod{
	font-family: Helvetica;
	font-size: 35px;
	padding: 12px;
  
  border-color: black;
  border-spacing:20px;
  table-layout: auto;
  border-style: solid;
  border-collapse: collapse;
  width:100%;
  background-color: #da6d81;

	
}
.nuevoprod th{
	
	background-color:maroon;
	 border: 1px solid rgb(0, 0, 0);
  border-width: 2px;
	
	
}
.nuevoprod td {
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-width: 2px;
  
}
.opcionestab{
	font-family: Helvetica;
	font-size: 40px;
	color:  #ffffff;
	 border-style: solid;
	
	
}

	

.infotabla{
	font-family: Helvetica;
	font-size: 30px;
	color:#400040; 
	
	
}
	

/*Fin Página Productos*/

/************************************Comienzo Página Consejos de Salud***************************/

.enlace_consejo{
	margin:0px;
	padding: 0px;
	text-align: center;	
}

.enlace_consejo a {
	font-size: 22px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}
.enlace_consejo a:hover{
	color: yellow;
}

.categoriaConsejo {
	font-size: 33px;
	font-weight: bold;
}
.categoriaDatoConsejo{
	font-size: 18px
}


/***********************************************Fin Página Consejos de Salud************************/

/*Comienzo Página Paseos*/
.titulo-paseo{
	font-family:Helvetica;
	color: white;
	text-align: center;
	background-color:#641e16;
	font-size:50px;
}
#contenedor-tabla{
	box-sizing: border-box;
    background-color: #F5B7B1;
    width: 100%;
    padding: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
}
#contenedor-tabla table {
  padding: 5px;
  border-spacing: 10px;
  border-collapse: collapse;
  width:100%;
  background-image: linear-gradient(60deg,rgb(207, 170, 253),rgb(223, 165, 254), rgb(157, 219, 255) ); 
}
#contenedor-tabla table th{
	padding: 10px 5px;
	/** padding:20px 15px ;**/
	 text-transform: uppercase;
	 border: 1px solid rgb(0, 0, 0);
	 background-color: rgb(244, 254, 129);
	 border-width: 2px;
}
#contenedor-tabla table td {
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  border-width: 2px;
  
}
#enlace-altam{
	margin:0px;
	padding: 0px;
	text-align: center;
}

#enlace-altam a{
	font-size: 40px;
	color: white;
	text-decoration: none;
}

#enlace-altam a:hover{
	color: yellow;
}
/* FIN CSS PÁGINA PASEO */

/* CSS PÁGINA NUEVO_PASEO */
#input-general[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contrasenia[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.label-general{
	 font-family: 'Teko', sans-serif;
	 font-size:25px;
}
#boton-general[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Teko', sans-serif;
  font-size:20px;
}

#boton-general[type=submit]:hover {
  background-color: #7B241C;
}

#form-general{
  border-radius: 5px;
  padding: 120px;
}

/* FIN CSS PÁGINA NUEVO_PASEO */

/*Comienzo Página Sucursales*/
.titulosucursal{
	font-family:Helvetica;
	color: white;
	text-align: center;
	background-color:#641e16;
	font-size:50px;
	
}
.mal{
	text-align: justify;
	margin:20px;
}
.sub1,.sub2,.sub3,.sub4,.sub5,.maltrato,.reporte,.consejos{
	font-size:30px;
	color:#ce4257;
	text-align:center;
}
.basta{
	font-family:Helvetica;
	color: white;
	text-align: center;
	background-color:#641e16;
	font-size:35px;
	margin:20px;
}
.sucu{
	display:flex;
}
.izq{
	margin:15px;
	padding-right:50px;
	
	
}
.der{
	padding-left:50px;
	margin:15px;
	
}

/*Fin Página Sucursales*/

/*******************************Comienzo Página Contactos****************************/
	
#tituloContacto {
	font-size: 35px;	/*cambio tamaño y color del titulo*/
	font-family: Helvetica;
	color: #641e16;  /*cambio tamaño y color del titulo*/
	text-align: center;	
}

.formularioGeneral {	/*cambio */

	width: 100%;
	max-width: 800px;/*nueva modificacion*/
	margin: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	 /*cambio para quitar bordes*/
	padding-left: 30px;
	border-radius: 6px;	
	font-size: 18px; /*Cambio para letra del formulario*/	
	
}

label {
	text-align: left;
	padding-right: 10px;
	line-height: 30px;
	display: inline-block;
	width: 15%;	
}

/*modificacion para la longitud formulario consejos*/
input[type="text"], input[type="email"], input[type="number"], textarea, .selectGeneral { /*agregado de clase*/
		width: 80%;
		padding: 5px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-sizing: border-box;
		font-size: 16px;		
}

input[type="submit"] {	
	width: 96%;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 3px;	
	font-size: 20px;	
}


#direccion {	
	font-size: 28px; /*cambio*/
	text-align: center;
}

#redes {
	
	
	font-weight: bold;
	font-size: 27px;	/*cambio*/	
	margin: auto;
	padding-top: 25px;	
	padding-bottom: 25px;
	text-align: center;	
	font-family: 'IBM Plex Mono', monospace;
    font-family: 'Rowdies', cursive;
}

#redes li{
	
	list-style: none;
	display:inline-block;
	
}	

#contenedorContactos{ /*cambio de nombre*/
	/*background-image: url("../images/fondoFormulario.jpg");*/
	margin: auto;	
	padding-bottom: 15px;
}

#redes li a {
	margin: 50px;		
}	

#contenedor55 {
    text-align: center;
  }

  .productosInfo {
    display: flex;
    align-items: center;
    display: block;
  }

  .producto {
    margin-bottom: 20px;
    display: block;
  }
   .linkProducto{
  display: block; 
  
  text-align: center;
  font-size: 25px;
  }

/********************************Fin Página Contactos**********************************/




