*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #F5B7B1;
}
/*Comienzo Encabezado*/

#encabezado{
	background-color: #7B241C;
	border: 1px solid #7b241c;
}

#titulo-index{
	position: absolute;
  	top: 30px;
  	left: 42%;
  	font-family: 'Lobster', cursive;
  	font-size: 60px;
  	color: white;
  	text-shadow: 2px 2px 4px #000000;
}

#imagen{
	position: relative;
	width: 130px;
	height: 130px;
	left: 35%
}

#encabezado nav ul{
	list-style: none;
  	margin: 0;
  	padding: 0;
  	background-color:#7b241c;
  	text-align: center;
}

#encabezado nav li{
	display: inline-block;
}

#encabezado nav a{
	display: inline-block;
  	padding: 10px;
  	text-decoration: none;
  	color: white;
  	font-family: 'Play', sans-serif;
  	font-size: 25px;
}

#encabezado a:hover{
	color: yellow; /*PseudoClase*/
}

/*Fin Encabezado*/

/*****************CODIGO CSS PIE DE PAGINA  ****************************/
footer {
	clear: both; 
	text-align: center;
	font-style: italic;	
	font-weight: bold;
	margin: 0px;
	border: 5px;
	padding: 6px;	
	background-color:#7b241c;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 18px;
	color:white;
}
/****************************************************************************/


/*Comienzo Página Index*/

.cuerpo {
	display: flex;
}

.izquierda{
	flex: 1;
	padding-right: 50px;
	margin: 30px;
	font-size: 21px;
	font-family: 'Zilla Slab', serif;
}

.derecha{
	flex: 1;
	padding-left: 50px;
	margin: 30px;
	font-size: 21px;
	font-family: 'Zilla Slab', serif;
}

/*Fin Página Index*/

/*Comienzo Página Productos*/


#contenedor55 {
	    background-color: #f5b7b1;
		border: black 10px solid;
		font-style: Arial, Times New Roman;
		text-align: center;
		font-size: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}

#contenedor55 > div {
  width: 50%;
}
	


h2, h4{
	color: #641e16;
	text-align: center;
	
	}
	
#titulo{
	color: white;
	font-family: verdana, sans-serif;
	font-size: 70px;
	font-style: italic;
	text-align: center;
	text-transform:uppercase;
	background-color: #7b241c ;
	border: black 6px solid;
	
	}

/*Fin Página Productos*/

/*Comienzo Página Consejos de Salud*/

/*Fin Página Consejos de Salud*/

/*Comienzo Página Paseos*/
.paseo{
	box-sizing: border-box;
    background-color: #F5B7B1;
    width: 100%;
    padding: 100px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.paseo h1{
	color: rgb(20, 20, 20);
	text-align: center;
	padding-top: 0px;
	padding:30px;
}
.paseo table {
	padding: 12px;
  border-spacing: 10px;
  border-collapse: collapse;
  width:100%;
  background-image: linear-gradient(60deg,rgb(207, 170, 253),rgb(223, 165, 254), rgb(157, 219, 255) );
  
}
.paseo table th{
	 padding:20px 15px ;
	 text-transform: uppercase;
	 border: 1px solid rgb(0, 0, 0);
	 background-color: rgb(244, 254, 129);
	 border-width: 2px;
}
.paseo table td {
  padding: 15px;
  border: 1px solid rgb(0, 0, 0);
  border-width: 2px;
  
}

.paseo table tbody tr:hover{
	background:rgb(207, 138, 253);
}


/*Fin Página Paseos*/

/*Comienzo Página Sucursales*/

/*Fin Página Sucursales*/

/*******************************Comienzo Página Contactos****************************/
	
#tituloContacto {
	font-size: 50px;	
	font-family: Helvetica;
	text-align: center;	
}

form {	

	width: 100%;
	max-width: 500px;
	margin: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	border: 6px groove #fffe9e;
	padding-left: 30px;
	border-radius: 6px;	
	font-size: 20px;	
	
}

label {
	text-align: left;
	padding-right: 10px;
	line-height: 30px;
	display: inline-block;
	width: 15%;	
}

input[type="text"], input[type="email"], textarea {
		width: 80%;
		padding: 5px;
		margin-bottom: 10px;
		border: 1px solid #ccc;
		border-radius: 3px;
		box-sizing: border-box;
		font-size: 16px;		
}

input[type="submit"] {	
	width: 96%;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 3px;	
	font-size: 20px;	
}

hr{
	height: 4px;
	background-color: blue;
}

#direccion {	
	font-size: 35px;
	text-align: center;
}

#redes {
	
	
	font-weight: bold;
	font-size: 33px;	
	margin: auto;
	padding-top: 25px;	
	padding-bottom: 25px;
	text-align: center;	
	font-family: 'IBM Plex Mono', monospace;
    font-family: 'Rowdies', cursive;
}

#redes li{
	
	list-style: none;
	display:inline-block;
	
}	

#contenedor{
	/*background-image: url("../images/fondoFormulario.jpg");*/
	margin: auto;	
	padding-bottom: 15px;
}

#redes li a {
	margin: 50px;		
}	

/********************************Fin Página Contactos**********************************/